body, html{
    margin: 0 auto;
    width: 100%;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: white;
    color: black;
}

.content-box {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 3em;
}

input[type=submit] {
    padding: .5em 5em;
    margin-bottom: 1em;
}
textarea, input {
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  transition: all 0.5s;
  border: none;
  text-align: center;
}

textarea:hover, input:hover {
    padding: 0.5em .7em;
    background-color: rgba(12,76,161,1);
    color:white;
}
textarea:focus, input:focus {
    padding: 0.5em 1em;
    background-color: rgba(12,76,161,.8);
    color:white;
}

h3 {
    color: black;
}

textarea {
    padding: 0.5em 0.5em;
  font-size: 1.2em;
  transition: all 0.5s;
  border: none;
    text-align: center;
}

textarea:hover::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(250,250,250,1);
}

::-moz-placeholder:hover { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder:hover { /* IE 10+ */
  color: white;
}
:-moz-placeholder:hover { /* Firefox 18- */
  color: white;
}

#form-goals {
    margin: 0 auto;
    text-align: center;
    width:50%;
    float:left;
    position: fixed;
}

#goals {
    width:50%;
    float:right;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.goal {
    color: white;
    width: 100%;
    padding: 1em .5em 1em .5em;
    background-color: rgba(255,66,44,.8);
    margin: 0;
    
}

.goal:hover {
    background-color: rgba(255,66,44,1);
}

button {
    color: white;
    background-color: rgba(12,76,161,.8);
    padding: .5em 5em;
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    transition: all 0.5s;
    border: none;
    text-align: center;
}

button:hover {
   background-color: rgba(12,76,161,1); 
}

#form-goals-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */   
    background-color: rgba(12,76,161,.2);
}
#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.fa-times {
    font-size: 4em;
}
#form-goals-modal p {
    display: inline;
}